[global]
index={{ nexus_pip_url }}:{{ nexus_pip_port}}/repository/{{ nexus_pip_reponame }}/
index-url={{ nexus_pip_url }}:{{ nexus_pip_port}}/repository/{{ nexus_pip_reponame }}/simple
trusted-host={{ nexus_pip_trusted_host }}
