<user>
    <id>{{ nexus_user_id }}</id>
    <firstName>{{ nexus_user_firstname }}</firstName>
    <lastName>{{ nexus_user_lastname }}</lastName>
    <password>{{ nexus_user_password }}</password>
    <status>{{ nexus_user_status }}</status>
    <email>{{ nexus_user_email }}</email>
</user>
