[mgr]
mgr/cephadm/container_image_prometheus = {{ mgr_configurations.container_image_prometheus }}
mgr/cephadm/container_image_node_exporter = {{ mgr_configurations.container_image_node_exporter }}
mgr/cephadm/container_image_grafana = {{ mgr_configurations.container_image_grafana }}
mgr/cephadm/container_image_alertmanager = {{ mgr_configurations.container_image_alertmanager }}

